/app-clinica/build/
/app-clinica/nbproject/private/
/Bill_system/Bill_system/build/
/Bill_system/Bill_system/nbproject/private/
/TutorialImprimir/TutorialImprimir/build/
/TutorialImprimir/TutorialImprimir/dist/
/TutorialImprimir/TutorialImprimir/nbproject/private/